# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

CLAUDE.md

# Ignore those old posts
src/content/advanced-typescript-conditional-types.md
src/content/posts/concurrency-in-go.md
src/content/posts/error-handling-in-go.md
src/content/posts/gos-interfaces-and-polymorphism.md
src/content/posts/javascript-prototypal-inheritance.md
src/content/posts/javascripts-event-loop-explained.md
src/content/posts/mastering-async-await-in-javascript.md
src/content/posts/python-decorators-demystified.md
src/content/posts/pythons-context-managers-and-the-with-statement.md
src/content/posts/pythons-generators-and-yield.md
src/content/posts/pythons-list-comprehensions.md
src/content/posts/typescript-generics-explained.md
src/content/posts/typescript-utility-types.md
src/content/posts/typescripts-keyof-and-mapped-types.md
src/content/posts/understanding-closures-in-javascript.md
