---
import type { GetStaticPaths } from 'astro'
import Layout from '~/layouts/Layout.astro'
import { SeriesGroup } from '~/utils'
import PostPreview from '~/components/PostPreview.astro'

export const getStaticPaths = (async () => {
  const seriesGroup = await SeriesGroup.build()
  return seriesGroup.collations.map((series) => {
    return {
      params: { slug: series.titleSlug },
      props: { posts: series.entries, seriesTitle: series.title },
    }
  })
}) satisfies GetStaticPaths

const { posts, seriesTitle } = Astro.props
---

<Layout
  title={`Series: ${seriesTitle}`}
  description={`All posts in the ${seriesTitle} series`}
>
  <div>
    <h1 class="text-2xl font-semibold text-heading1 sm:text-3xl">{seriesTitle}</h1>
    <p class="mt-2 mb-8 text-foreground/60">Posts in this series.</p>
    <div class="flex flex-col">
      {posts.map((post) => <PostPreview post={post} />)}
    </div>
  </div>
</Layout>
