---
import Layout from '~/layouts/Layout.astro'
import { getSortedPosts } from '~/utils'
import { getCollection, render } from 'astro:content'
import PostPreview from '~/components/PostPreview.astro'

const home = await getCollection('home')
let HomeContent
if (home.length > 0) {
  const { Content } = await render(home[0])
  HomeContent = Content
}

const sortedPosts = await getSortedPosts()
const recentPosts = sortedPosts.reverse().slice(0, 5)
---

<Layout>
  <div class="prose max-w-none">
    {HomeContent && <HomeContent />}
  </div>

  {
    recentPosts.length > 0 && (
      <section class="mt-12">
        <h2 class="mb-4 text-lg font-semibold">Posts</h2>
        <div class="flex flex-col">
          {recentPosts.map((post) => (
            <PostPreview post={post} />
          ))}
        </div>
        <p class="mt-5 text-sm">
          <a href="/posts" class="no-underline hover:underline decoration-dotted">
            → all posts
          </a>
        </p>
      </section>
    )
  }
</Layout>

<style is:global>
  a.heading-anchor {
    display: none !important;
  }
</style>
