---
interface Props {
  prevLink?: string
  prevText?: string
  nextLink?: string
  nextText?: string
}

const { prevLink, prevText, nextLink, nextText } = Astro.props
---

<nav class="mt-12 flex items-center justify-between text-sm" aria-label="Pagination">
  {
    prevLink ? (
      <a href={prevLink} class="no-underline decoration-dotted hover:underline">
        ← {prevText || 'Newer'}
      </a>
    ) : (
      <span />
    )
  }
  {
    nextLink ? (
      <a href={nextLink} class="no-underline decoration-dotted hover:underline">
        {nextText || 'Older'} →
      </a>
    ) : (
      <span />
    )
  }
</nav>
