---
import Layout from '~/layouts/Layout.astro'
import type { MarkdownLayoutProps } from 'astro'

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string
  description?: string
}>

// Now, `frontmatter`, `url`, and other Markdown layout properties
// are accessible with type safety
const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <h1 class="mb-6 text-2xl font-semibold text-heading1 sm:text-3xl">
    {frontmatter.title}
  </h1>
  <div class="prose max-w-none">
    <slot />
  </div>
</Layout>
