html, body{
    font-family: "Roboto", serif;
}

#wrapper{
    max-width: 100%;
    min-height: auto;
}
#top{
    width: 100%;
    min-height: 2px;
    background: #99BADD;
}
#r-photos{
    margin: 50px;
    width: 175px;
    height: 175px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #1a73e8;


    img{
        //clip-path: circle();
        object-fit: cover;
    }

}

#r-portfolio{
    //background-color: #4285f4;

    h4{
        font-size: 1.75rem;
        line-height: 1.2857142857;
        font-weight: 400;
        letter-spacing: normal;
        padding: 32px 32px 0 32px;
    }

    #portfolio-center{
        background: white;
        border: 1px #dadce0 solid;
        border-radius: 16px;
        height: 700px;
        overflow: hidden;
    }
}


.borderline{
    border: 1px red solid;
}


.r-centering{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 200px;
    overflow: hidden;

    .r-intro-side{
        align-items: center;
        flex-grow: 1;
    }

}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30px;
    width: 100%;
    overflow: hidden;

    .r-head-side{
        align-items: center;
        flex-grow: 1;
        text-align: center;
        display: flex;
        flex-direction: row;
    }

    .r-head-t{
        align-items: center;

        a{
            padding: 10px;
            text-decoration: none;
            color:#5F6368;
        }

        a:after{
            content:"\203A"; 
            font-size: 1em;
        }
    }
}

footer{
    padding: 50px 0;
    display: flex;
    align-items: center;
    min-height: 50px;
    width: 100%;
    overflow: hidden;

    /* Fixed Bottom */
    //position:fixed;
    //bottom:0px;

    .r-foot-side{
        align-items: center;
        flex-grow: 1;
        text-align: center;
    }
}
